{% extends 'base.html.twig' %}

{% block title %}HomePage!{% endblock %}

{% block body %}

    <div class="container-fluid bg-img  {% if app.user is null %}d-flex justify-content-center align-items-center {% endif %}">
{% if app.user %}
    {% if is_granted('ROLE_USER') %}

        <div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="text-white">{{ app.user }}</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-white">Mon historique de jeu</h5>
                    <p class="text-white">Toutes les informations concernant mes activités</p>
                    <a class="btn btn-success my-5 btn-lg d-flex justify-content-center"  href="{{ path('card_activity_historical') }}">Voir</a>
                </div>
                <div class="col-md-4">
                    <h5 class="text-white">Mes offres</h5>
                    <p class="text-white">Toutes les offres ajoutées à ma carte</p>
                    <a class="btn btn-success my-5 btn-lg d-flex justify-content-center"  href="#">Voir</a>
                </div>
                <div class="col-md-4">
                    <h5 class="text-white">##</h5>
                    <p class="text-white">###</p>
                    <a class="btn btn-success my-5 btn-lg d-flex justify-content-center"  href="#">Voir</a>
                </div>
            </div>
        </div>
        <div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="text-white">Classement</h1>
            </div>
        </div>


        {% endif %}
        {% else %}
            <div class="container">
            <div class="card bg-light mb-3 connection-card">
                <div class="card-body">
                    <a class="btn btn-dark btn-lg btn-block" href="{{ path('signup_route') }}">S'incrire</a>
                    <a class="btn btn-secondary btn-lg btn-block" href="{{ path('login_route') }}">Se connecter</a>
                </div>
            </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
