{% extends 'base.html.twig' %}

{% block title %}HomePage!{% endblock %}

{% block body %}

    <div class="container-fluid bg-img d-flex align-items-center justify-content-center">
{% if app.user %}
    {% if is_granted('ROLE_USER') %}
    <div class="jumbotron">
        <h1 class="display-4"> Bonjour {{ app.user }}!</h1>
        <p class="lead">Ici tu accederas à toutes tes informations concernant tes parties au Laser Game!</p>
        <hr class="my-4">
        <a class="btn btn-danger btn-lg" href="{{ path('card_activity_historical') }}" >Voir mon historique</a>
    </div>
        {% endif %}
        {% else %}
            <div class="container ">
            <div class="card bg-light mb-3 connection-card">
                <div class="card-body">
                    <a class="btn btn-dark btn-lg btn-block" href="{{ path('signup_route') }}">S'incrire</a>
                    <a class="btn btn-secondary btn-lg btn-block" href="{{ path('login_route') }}">Se connecter</a>
                </div>
            </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
