<form method="post" action="{{ path('crud_delete', {'class' : class, 'id': entity.id}) }}"
      onsubmit="return confirm({{ 'delete.confirmation'|trans({}, 'crud') }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <button class="btn btn-sm btn-danger">{{ 'delete.button'|trans({}, 'crud') }}</button>
</form>
