{{ form_start(form) }}
    {% for field in form.children %}
    <div class="form-row">
        <div class="form-group col-md-9">
            {{ form_row(field) }}
        </div>
        {% if loop.index is divisible by(2) %}
    </div><div class="form-row">
        {% endif %}
        </div>
    {% endfor %}

    <button class="btn btn-primary">{{ button_label|default( 'save'|trans({}, 'crud') ) }}</button>
{{ form_end(form) }}
