{% extends 'base.html.twig' %}

{% block title %}HomePage!{% endblock %}

{% block body %}
    <div class="container-fluid dashboard">
        <div class="row">
{% include('admin/menu.html.twig') %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
{% endblock %}
