/* Home page*/
.bg-img{
    background: url('../../public/lib/img/laser-dark1.png') no-repeat top center;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: contain;
}

.page-link{
    color:red;
}
.page-link:hover{
    color:black;
}



.card-home{
    position: relative;
    z-index: 10;
}

.connection-card {
    position: relative;
    z-index: 10;
}

.text-color{
    color:black;
}

.public-view{
    position: relative;
    top: 0px;
}

/* Dashboard admin */
.dashboard{
    position: relative;
    top : 150px;
}
.container-admin{
    position: relative;
    top:0px;
}

.user-dashboard{
    position: relative;
    top: 150px;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nested-list{
    padding-left: 30px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: red;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar a{
    color: black;
}
.sidebar a:hover{
    color: red;
}


/*
 * Navbar
 */
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .dashboard{
        top : 134px;
    }
    .user-dashboard{
        top: 200px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .sidebar{
        top: 86px;
    }
    .text-color{
        color:white;
    }
    .user-dashboard{
        top: 0px;
    }
    .ranking{
        position: relative;
        top: 70px;
    }
    .public-view{
        top: 40px;
    }
    .public-ranking{
        margin-top: 50px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .dashboard{
        top : 56px;
    }
    .sidebar{
        top:inherit;
    }
    .container-admin{
        top:70px;
    }
    .ranking{
        top: 0px;
    }
    .public-view{
        top: 90px;
    }
    .public-ranking{
        margin-top: 100px;
    }

}
/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .ranking{
        top: 90px;
    }
    .public-view{
        top: 150px;
    }
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .bg-img{
        width: 100vw;
    }
    .bg-img-profile{
        height: 50vh;
        background-size: cover;
    }
    .ranking{
        top: 150px;
    }
    .public-view{
        top: 200px;
    }
    .public-ranking{
        margin-top: 130px;
    }
}
@media (min-width: 1920px) {
    .public-ranking {
        margin-top: 250px;
    }
}