{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}
    <div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Les offres</h1>
            <a href="{{ path('home') }}"
               class="btn btn-outline-primary mb-3">
                Retour sur mon profil
            </a>
        </div>
        <div>
            {% set enabled = 0 %}
            {# le customer n'a pas de carte rattachée #}
            {% if cards is empty %}
                {% set enabled = 0 %}
                <div class="alert alert-warning">Pas de carte rattachée</div>
                <a href="#" class="btn btn-outline-primary mb-3">
                    Rattacher une carte
                </a>
                {# le customer possède une seule carte #}
            {% elseif cards|length == 1 %}
                {% set card = cards[0] %}
                {% set enabled = 1 %}
                {# le customer possède plusieurs cartes #}
            {% elseif (cards|length > 1) or (card is defined and card is not null) %}
                {# il faut choisir d'abord une carte pour rattacher un deal #}
                {% set enabled = (card is defined and card is not null)? 1: 0 %}
                <h2>Choisir une carte</h2>
                {% include'deal/_choice_card.html.twig' %}
            {% endif %}

            {% if card is defined and card is not null %}
                <div class="alert alert-secondary text-center m-1">
                    Carte n°<br>{{ card.code }}<br><b>{{ card.fidelityPoint }} points</b>
            {% endif %}
            {% if cards is not empty %}
                    <p><a class="btn btn-secondary m-2" href="{{ path('deal_display_user') }}">Voir tous mes deals</a>
                    </p>
            {% endif %}
                </div>
        </div>
    </div>
<div class="container container-admin ml-sm-auto col-md-7 col-lg-7 px-md-2 px-4">

{% include'deal/_tab_deals.html.twig' %}
</div>
{% endblock %}
