<h3>{{ subject }}</h3>

{% if  %}
<p>Bonjour {{ name }}</p>

{#<ul>#}
    {#{% for product in products %}#}
        {#<li>{{ product.name }}</li>#}
    {#{% endfor %}#}
{#</ul>#}

<a href="{{ path('home') }}">Aller sur le site du lasergame</a>